<header>
    <div class="container-fluid cabecalho">
        <nav class="menu-lateralMobile">
        
            <button type="button" class="btn btn-primary position-relative" style="border: 0; background: transparent"> <img src="assets/img/bag 1.png">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  3
                  
                </span>
              </button>

            <a class="link-lat" href="usuario.html"><img src="assets/img/user 2.png"></a>
        </nav>

    <a routerLink=""><img class="logo" src="assets/img/LOGO 5 1.png" alt="Logo da loja Game Mania"></a>

    <nav id="menu"class="menu-centro">
        
        <a class="link-menu" routerLink="">Inicio</a>
        <a class="link-menu" routerLink="/produtos">Produtos</a>
        <a class="link-menu" routerLink="/ajuda">Ajuda</a>
    </nav>
    <a href="#" id="barras" class="link-menu-barras"><img src="assets/img/menu 1.png"></a>

    <div class="menu2">
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Busca"/>
        <img class="imgBusca" src="assets/img/search-interface-symbol 1.png" id="btnBusca" alt="Buscar" onclick = "cadastrarBusca()"/>
      </div>

      <nav class="menu-lateral">
        
        

        <button type="button" class="btn btn-primary position-relative" style="border: 0; background: transparent"> <img src="assets/img/bag 1.png">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              3
               
            </span>
          </button>


        <a class="link-lat" href="usuario.html"><img src="assets/img/user 2.png"></a>
        
    </nav>

    </div>

