<section class="buscar2">
    <div class="menu3">
        <div id="divBusca2">
            <input type="text" id="txtBusca" placeholder="Busca"/>
            <img class="imgBusca" src="assets/img/search-interface-symbol 1.png" id="btnBusca" alt="Buscar"  onclick = "cadastrarBusca()"/>
          </div>
        </div>
</section>

<section class="destaque container-fluid">
    
        <div class="conteudo-destaque container-fluid">
            <div class="titulo-destaque">
                <h1 style="font-weight: 700;">Controle sem fio</h1>
                <h1 style="font-weight: 400;"> dualsense™</h1>
            </div>
            <div class="descricao-destaque">
            <p>O controle sem fio DualSense™️ oferece resposta tátil, efeitos de gatilho adaptáveis e um microfone embutido, tudo em um design icônico e confortável.</p>
            </div>
        </div>

        <div class="img-destaque"><img src="assets/img/image 6.png" alt=""></div>
    
    <div class="produto-cta container-fluid">
        <div class="item">
            <p style="font-weight:700;">marca</p>
            <p style="font-weight: 400;" > plastation</p>
        </div>
        <div class="item">
            <p style="font-weight:700;">modelo</p>
            <p style="font-weight: 400;" > dualsense</p>
        </div>
        <div class="item">
            <p style="font-weight:700;">preço</p>
            <p style="font-weight: 400;" > R$400</p>
        </div>
        <a class="cta-botao" href="">Compre Agora</a>
    </div>
</section>


<section class="populares">
    <div class="container-fluid">
        <h1>
            Mais Populares
        </h1>
        <div class="d-none d-lg-block">
        <ngb-carousel  >
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <div class="d-flex justify-content-center">
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 1.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Playstation5<br>
                                    R$7.999,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Nintendo Switch<br>
                                    R$2.299,90</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 ">
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Xbox Series S<br>
                                    R$2.649,00</h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <div class="d-flex justify-content-center">
                    <div class="d-inline p-2 ">
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Xbox Series S<br>
                                    R$2.649,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 1.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Playstation5<br>
                                    R$7.999,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Nintendo Switch<br>
                                    R$2.299,90</h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <div class="d-flex justify-content-center">
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 1.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Playstation5<br>
                                    R$7.999,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 ">
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Xbox Series S<br>
                                    R$2.649,00</h3>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline p-2 " >
                        <div class="destaques">
                            <div class="destaque-imagem">
                                <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                            </div>
                            <div class="destaque-descricao">
                                <p>Console</p>
                                <h3>Nintendo Switch<br>
                                    R$2.299,90</h3>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <!-- populares desktop -->
         
        <!-- populares tablet -->
            <div class="d-lg-none ">
                <div class="d-none d-md-block">
                    <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                        <div class="d-inline p-2 " >
                                            <div class="destaques">
                                                <div class="destaque-imagem">
                                                    <a href=""><img src="assets/img/Destaque 1.png" alt=""></a>
                                                </div>
                                                <div class="destaque-descricao">
                                                    <p>Console</p>
                                                    <h3>Playstation5<br>
                                                        R$7.999,00</h3>
                                                </div>
                                            </div>
                                        </div>
                             
                                        <div class="d-inline p-2 " >
                                            <div class="destaques">
                                                <div class="destaque-imagem">
                                                    <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                                                </div>
                                                <div class="destaque-descricao">
                                                    <p>Console</p>
                                                    <h3>Nintendo Switch<br>
                                                        R$2.299,90</h3>
                                                </div>
                                            </div>
                                        </div>
                                </div> 
                            </div>  

                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="d-inline p-2 ">
                                        <div class="destaques">
                                            <div class="destaque-imagem">
                                                <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                                            </div>
                                            <div class="destaque-descricao">
                                                <p>Console</p>
                                                <h3>Xbox Series S<br>
                                                    R$2.649,00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline p-2 " >
                                        <div class="destaques">
                                            <div class="destaque-imagem">
                                                <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                                            </div>
                                            <div class="destaque-descricao">
                                                <p>Console</p>
                                                <h3>Nintendo Switch<br>
                                                    R$2.299,90</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                     
                       
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="d-inline p-2 " >
                                        <div class="destaques">
                                            <div class="destaque-imagem">
                                                <a href=""><img src="assets/img/Destaque 1.png" alt=""></a>
                                            </div>
                                            <div class="destaque-descricao">
                                                <p>Console</p>
                                                <h3>Playstation5<br>
                                                    R$7.999,00</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-inline p-2 ">
                                        <div class="destaques">
                                            <div class="destaque-imagem">
                                                <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                                            </div>
                                            <div class="destaque-descricao">
                                                <p>Console</p>
                                                <h3>Xbox Series S<br>
                                                    R$2.649,00</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                </div>
            </div>      
            <!-- populares mobile -->
                <div class="d-md-none ">
                    <div id="carouselExampleDark3" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                 
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-center">
                                        <div class="d-inline p-2 " >
                                            <div class="destaques">
                                                <div class="destaque-imagem">
                                                    <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                                                </div>
                                                <div class="destaque-descricao">
                                                    <p>Console</p>
                                                    <h3>Nintendo Switch<br>
                                                        R$2.299,90</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>  
    
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                                        
                                        <div class="d-inline p-2 " >
                                            <div class="destaques">
                                                <div class="destaque-imagem">
                                                    <a href=""><img src="assets/img/Destaque 2.png" alt=""></a>
                                                </div>
                                                <div class="destaque-descricao">
                                                    <p>Console</p>
                                                    <h3>Nintendo Switch<br>
                                                        R$2.299,90</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                                
                                <div class="carousel-item">
                                    <div class="d-flex justify-content-center">
                            
                                        <div class="d-inline p-2 ">
                                            <div class="destaques">
                                                <div class="destaque-imagem">
                                                    <a href=""><img src="assets/img/Destaque 3.png" alt=""></a>
                                                </div>
                                                <div class="destaque-descricao">
                                                    <p>Console</p>
                                                    <h3>Xbox Series S<br>
                                                        R$2.649,00</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                    </div>
                </div>     

    </div>
</section>


    <section class="categorias">
        <div class="cont-categoria container-grid">
            <h1>
                Busque por categorias
             </h1>

             <nav class="menucategorias">

                 <div class="elemento-categorias">
                     <div class="menu-categorias-imagens">
                         <a href=""><img src="assets/img/console.png"></a>
                     </div>
                     <div class="menu-categorias-desc">
                         <a href="">Console</a>
                     </div>
                 </div>

                 <div class="elemento-categorias">
                     <div class="menu-categorias-imagens"><a href=""><img src="assets/img/jogo.png"></a></div>
                     <div class="menu-categorias-desc"><a href="">Jogos</a></div>
                 </div>

                 <div class="elemento-categorias">
                     <div class="menu-categorias-imagens"><a href=""><img src="assets/img/periferico.png"></a></div>
                     <div class="menu-categorias-desc"><a href="">Periféricos</a></div>
                 </div>

                 <div class="elemento-categorias">
                     <a class="menu-categorias-imagens" href="index.html"><img src="assets/img/pc.png"></a>
                     <div class="menu-categorias-desc"><a href="">Pc</a></div>
                 </div>

                 <div class="elemento-categorias">
                     <a class="menu-categorias-imagens" href=""><img src="assets/img/eletronicos.png"></a>
                     <div class="menu-categorias-desc"><a href="">Eletronicos</a></div>
                     
                 </div>
                  
             </nav>

             <nav class="menuCategorias-Tablet container-fluid"  >
                  <div class="linha1 container-fluid">
                    <div class="elemento-categorias">
                        <div class="menu-categorias-imagens">
                            <a href=""><img src="assets/img/console.png"></a>
                        </div>
                        <div class="menu-categorias-desc">
                            <a href="">Console</a>
                        </div>
                    </div>

                    <div class="elemento-categorias">
                        <div class="menu-categorias-imagens"><a href=""><img src="assets/img/jogo.png"></a></div>
                        <div class="menu-categorias-desc"><a href="">Jogos</a></div>
                    </div>

                    <div class="elemento-categorias">
                        <div class="menu-categorias-imagens"><a href=""><img src="assets/img/periferico.png"></a></div>
                        <div class="menu-categorias-desc"><a href="">Periféricos</a></div>
                    </div>
                  </div>
                  <div class="linha2 container-fluid">
                    <div class="elemento-categorias">
                        <a class="menu-categorias-imagens" href="index.html"><img src="assets/img/pc.png"></a>
                        <div class="menu-categorias-desc"><a href="">Pc</a></div>
                    </div>

                    <div class="elemento-categorias">
                        <a class="menu-categorias-imagens" href=""><img src="assets/img/eletronicos.png"></a>
                        <div class="menu-categorias-desc"><a href="">Eletronicos</a></div>
                        
                    </div>
                  </div>


             </nav>
            </div>
    
        
</section>

<section class="story ">
    
    <div id="posicionamentoStory">
        <div class="conteudo-story container">

        <h1 style="font-weight: 500;">Jogar</h1>
        <h1 style="font-weight: 700;">não tem limites</h1>
        <h3>Nos preocupamos com cada fase que você inicia e continuaremos presentes até a fase final.</h3>
     <div class="story-botao">
    <div class="b1"><a class="story-botao-compre" href="" style="color: #333333;">Compre Agora</a></div>
    <div class="b2"><a class="story-botao-explore" href="" style="color: #ffffff;">Explore</a></div>
    </div>   
    
    </div>

</div>  

    

</section>

<section class="espaco"><div class="container-fluid"></div></section>

<section class="newsletter">
    <div class="container-fluid">
        <div class="conteudo-news">
        <div class="texto">
        <h3>Inscreva-se seu email na nossa newsletter e fique por dentro das novidades e ofertas!</h3>
    </div>
    <form id="divEmail">
        
        <input type="email" id="txtEmail" placeholder="Email" onclick="cadastrarEmail()" />
        <img class="imgEmail" src="assets/img/o-email 1.png" id="btnEmail" alt="Email" onclick="cadastrarEmail()" />
        
    </form>
        </div>

        

    </div>

    
</section>

<section class="sitemap">
    <div class="container-fluid">
        
        <nav class="menuRodape" >
        
        <div class="map">
        <div class="map-titulo"><h3>Produtos</h3></div>
        <div class="map-conteudo">
        <a href="">Novidades</a><br>
        <a href="">Mais Vendidos</a><br>
        <a href="">Lançamentos</a><br>
        <a href="">Promoção</a><br>
        </div>
        </div>


        <div class="map">
            <div class="map-titulo"><h3>Ajuda</h3></div>
        
         <div class="map-conteudo">    
        <a href="">Perguntas Frequentes</a><br>
        <a href="">Trocas & Devoluções</a><br>
        <a href="">Acompanhe Seu Pedido</a><br>
        <a href="ajuda.html">Central de Ajuda</a><br>
        <a href="">Central De Privacidade</a><br>
        </div>
        </div>

        <div class="map">
            <div class="map-titulo"><h3>Sobre Nós</h3></div>
        <div class="map-conteudo">
        <a href="">Quem Somos</a><br>
        <a href="">Lojas</a><br>
        <a routerLink="/termos">Termos De Uso</a><br>
        <a routerLink="/politica">Política De Privacidade</a><br>
        <a href="">Trabalhe Conosco</a><br>
        </div>
        </div>
        
        <div class="map">
            <div class="map-titulo2"><h3> Redes Sociais</h3>
            </div>
        </div>
        </nav>
        
    </div>
    
</section>
