<section class="ajuda">
    <div class="conteudo-ajuda container-grid">
    <div class="titulo-ajuda">
    <h2>Como podemos te ajudar? </h2>
     
        <div id="divProcure">
            <input type="text" id="txtProcure" placeholder="Procure por uma palavra-chave"/>
            <img class="imgProcure" src="assets/img/search-interface-symbol 1.png" id="btnProcure" alt="Buscar" onclick = "cadastrarProcure()"/>
          </div>
     </div>
    <div class="ajuda-items">
        <div class="a1"><a href="">Cadastro</a></div>
        <div class="a2"><a href="">Compras</a></div>
        <div class="a3"><a href="">Pagamento</a></div>
    </div> 
    <div class="ajuda-items">
        <div class="a4"><a href="">Pedido</a></div>
        <div class="a5"><a href="">Trocas e Devoluções</a></div>
        <div class="a6"><a href="">Cartão presente</a></div>
    </div>   
    <div class="ajuda-items">
        <div class="a7"><a href="">Promoções</a></div>
        <div class="a8"><a href="">Central de Privacidade</a></div>
         
    </div>    
</div>
    
</section>